#about .page-container {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    height: 90vh;
    /* border: solid 1px #000; */
}

.about-container {
    width: fit-content;
    display: flex;
    /* border: solid 1px #000; */
}

.about-container article {
    text-align: justify;
    /* border: solid 1px #000; */
    width: fit-content;
}

.image-profile-container {
    width: 56%;
    /* border: solid 1px #000; */
}

.img {
    border: solid 1px #ccc;
    width: 80%;
    height: 100%;
}