#studies {
    background-color: var(--color-primary-dark);
    color: var(--color-primary-light);
    min-height: 100vh;
    max-height: fit-content;
}

#studies .title-page {
    color: var(--color-primary-light);
}

.course-item {
    color: var(--color-primary-light);
    margin-bottom: 25px;
    justify-content: space-between;
    background-color: var(--color-background-dark-item);
}

.course-item:hover {
    box-shadow: var(--color-dark-box-shawdow) 25px 15px 25px
}

.course-item .coursers-icons-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.coursers-icons-container a {
    margin-bottom: 10px;
}

.informations>div {
    display: flex;
    align-items: center;
}

.informations>div>:nth-last-child(n+1) {
    margin: 0 0 10px 10px;
}

.informations>p {
    width: fit-content;
    font-size: 1rem;
    font-weight: 800;
    background-color: var(--color-green-status);
    border: solid 1px var(--color-border-status);
    border-radius: 8px;
    color: var(--color-primary-light);
    padding: 5px;
    margin-left: 11px;
}