#contact {
    height: 95%;
}

#contact ul {
    height: 70%;
    display: flex;
    flex-wrap: wrap;
    flex: 1;
    justify-content: space-between;
}

.icon-contact {
    width: 45px;
    height: 45px;
}

.contact a {
    color: var(--color-primary-dark);
    display: flex;
    width: 35vw;
    align-items: center;
    text-align: left;
}

.contact p {
    color: #212428ee;
    margin-left: 45px;
}

.contact p:hover {
    color: #212428;
}