header {
    /* box-shadow: var(--color-dark-box-shawdow) 5px 5px 25px; */
    height: 75px;
    width: 100vw;
    display: flex;
    background-color: var(--color-background-header-tranparent);
    color: var(--color-primary-light);
    justify-content: center;
    align-items: center;
    top: 0 !important;
    position: fixed;
    /* border: solid 1px rgba(8, 29, 221, 0.8); */
}

header .page-container {
    display: flex;
}

header>div {
    justify-content: space-between;
    align-items: center;
    /* border: solid 1px #cccc; */
}

header nav {
    display: flex;
    font-size: 1.2rem;
    font-weight: 300;
    padding: 10px 0 10px 0;
    /* border: solid 1px rgba(165, 60, 60, 0.8); */
}

header div nav>a {
    margin-left: 35px;
    /* padding: 5px 0px 5px 8px; */
    /* border: solid 1px rgba(165, 60, 60, 0.8); */
}