header {
    background-color: var(--color-primary-dark-tranparent);
    color: var(--color-primary-light);
    justify-content: center;
    top: 0 !important;
    position: fixed;
}

header .page-container {
    display: flex;
}

header div {
    justify-content: space-between;
    width: 85%;
    align-items: center;
}

header div nav {
    font-size: 1.4rem;
    font-weight: 300;
    padding: 10px 0 10px 0;
    width: 80vw;
    justify-content: space-between;
}

header div nav a {
    padding: 5px;
}