#skills {
    min-height: 100vh;
    max-height: fit-content;
    border: solid #4813c5;
}

.technologies-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.panel {
    margin: 25px 0 35px 0;
    padding: 35px;
    max-width: none;
    border: solid 1px var(--color-dark-border);
    border-radius: 10px;
    box-shadow: var(--color-dark-box-shawdow) 5px 5px 15px;
    border-radius: 10px;
    border-radius: 10px;
    display: flex;
    background-color: #cccccc1c;
    border: solid #ce1c1c;
}

.panel> :nth-child(n + 1) {
    max-width: fit-content;
}

.skills-container ul {
    flex-wrap: wrap;
    flex: 1;
    justify-content: space-evenly;
}

.skills-container ul>li {
    font-weight: 800;
    padding: 15px 15px 5px 15px;
    margin: 10px 10px 0 10px;
    list-style-type: none;
}

.skills-container ul>li>p {
    border-bottom: solid 1px #ccc;
}

.technologies-container>li {
    display: flex;
    justify-content: center;
    border-right: 1;
}

.technologies-container figure {
    max-width: max-content;
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.5rem;
    font-weight: 500;
}

.technologies-container figure img {
    margin-bottom: 10px;
}