:root {
    --color-primary-dark: #212428;
    --color-primary-dark-tranparent: rgb(33, 36, 40, 0.975);
    --color-primary-light: #E5E5E5;
    --color-header-navigation-text: #a5abaf;
    --color-header-navigation-text-hover: #E3E3E3;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: var(--color-header-navigation-text);
}

a:hover {
    color: var(--color-header-navigation-text-hover);
}

body,
textarea {
    font: 400 1.6rem Ubuntu;
    color: var(--color-primary-dark);
}

html,
body,
#root {
    height: 100vh;
}

.page {
    width: 100%;
    display: flex;
    justify-content: center;
}

.page-container {
    width: 80vw;
}

.flex {
    display: flex;
}

.title-page {
    margin-bottom: 26px;
    font-size: 3.5rem;
    color: var(--color-primary-dark);
}

:target {
    scroll-margin-top: 1.9em;
}

@media (prefers-reduced-motion: no-preference) {
    /*Se não houver config p/ reduzir animações*/
    html {
        scroll-behavior: smooth;
    }
}