:root {
    --color-primary-dark: #212428;
    --color-primary-light: #E5E5E5;
    --color-header-navigation-text: #75797C;
    --color-header-navigation-text-hover: #E3E3E3;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

body,
textarea {
    font: 400 1.6rem Ubuntu;
    color: var(--color-primary-dark);
}

html,
body,
#root {
    height: 100vh;
}

.flex {
    display: flex;
}