:root {
    --color-primary-dark: #212428;
    --color-primary-light: #E5E5E5;
    --color-background-header-tranparent: rgb(33, 36, 40, 0.975);
    --color-header-navigation-text: #a5abaf;
    --color-header-navigation-text-hover: #E3E3E3;
    --color-dark-border: rgba(204, 204, 204, 0.050);
    --color-dark-box-shawdow: rgba(0, 0, 0, 0.562);
    --color-background-dark-item: rgba(5, 5, 5, 0.103);
    --color-green-status: #008069;
    --color-yellow-status: rgba(214, 226, 50, 0.877);
    --color-border-status: rgba(255, 255, 255, 0.233);
    /* --color-dark-box-shawdow: rgb(204, 204, 204, 10%); */
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: var(--color-header-navigation-text);
}

a:hover {
    color: var(--color-header-navigation-text-hover);
}

body,
textarea {
    font: 400 1.6rem Ubuntu;
    color: var(--color-primary-dark);
}

html,
body,
#root {
    height: 100vh;
}

.page {
    width: 100%;
    display: flex;
    justify-content: center;
    /* border: solid #008069; */
}

.space-top {
    padding-top: 16px;
}

.page-container {
    width: 80vw;
    /* border: solid #93a819; */
}

.flex {
    display: flex;
}

.title-page {
    margin-bottom: 26px;
    font-size: 3.5rem;
    color: var(--color-primary-dark);
}

:target {
    scroll-margin-top: 1.9em;
}

.panel {
    box-shadow: var(--color-dark-box-shawdow) 5px 5px 15px;
    border: solid 1px var(--color-dark-border);
    border-radius: 10px;
    padding: 35px;
    display: flex;
    margin: 25px 0 35px 0;
}

@media (prefers-reduced-motion: no-preference) {
    /*Se não houver config p/ reduzir animações*/
    html {
        scroll-behavior: smooth;
    }
}