#portfolio {
    background-color: var(--color-primary-dark);
    height: 100vh;
    color: var(--color-primary-light);
}

#portfolio .title-page {
    color: var(--color-primary-light);
}

.projects-container {
    flex-wrap: wrap;
    justify-content: center;
    color: var(--color-primary-light);
}

.item-project {
    width: fit-content;
    border: solid 1px #ccc;
    padding: 55px;
    /* padding: 15px 15px 5px 15px; */
    margin: 15px 15px 15px 15px;
    border-radius: 10px;
}